.titulo-nosotros {
    font-size: 5rem;
}


.seccion-nosotros {

    text-align: justify;
    @include flex(column);

    @include tablet {

        @include grid(2, 2rem);
        text-align: left;
    }
}

.texto-nosotros {
    blockquote {
        font-weight: 800;
    }
}